* {
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
}
.header {
  background-color: #e554731a;
  background-position: bottom right, top left;
}
.banner {
  width: 1920px;
  height: 850px;
  padding: 50px 30px 0% 240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-title {
  margin-top: 10px;
  width: 708px;
  color: #272727;
  font-family: Lato;
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
}
.banner-description {
  margin-bottom: 32px;
  width: 634px;
  color: #27272799;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  font-family: Lato;
}
.banner-images {
  margin-top: 50px;
  margin-right: 1045px;
  margin-left: 450px;
  width: 635px;
  height: 800px;
}
.btn {
  padding: 20px 43px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  background: #e55473;
  font-family: Lato;
  border: 0;
}
.banner-content {
}

.featured-flowers {
  margin-top: 178px;
  height: 4867px;
  background: #fff;
}
.section-title {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
}
.section-description {
  margin-top: 24px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.flower-continer {
  display: flex;
  gap: 24px;
  margin-left: 480px;
}
.flo1 {
  margin-top: 48px;
  align-items: center;
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}
.flo2 {
  margin-top: 48px;
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
}
.flo3 {
  margin-top: 48px;
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}
.flower1 {
  width: 310px;
  height: 428px;
  padding: 110px 76px 0px 78px;
}
.flower2 {
  width: 370px;
  height: 370px;
  padding: 117px 47px 51px 47px;
}
.flower3 {
  width: 314px;
  height: 471px;
  padding: 67px 75px 75px;
}
