* {
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
}
.header {
  background-color: #e554731a;
  background-position: bottom right, top left;
}
.banner {
  width: 1920px;
  height: 850px;
  padding: 50px 30px 0% 240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-title {
  margin-top: 10px;
  width: 708px;
  color: #272727;
  font-family: Lato;
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
}
.banner-description {
  margin-bottom: 32px;
  width: 634px;
  color: #27272799;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  font-family: Lato;
}
.banner-images {
  margin-top: 50px;
  margin-right: 1045px;
  margin-left: 450px;
  width: 635px;
  height: 800px;
}
.btn {
  padding: 20px 43px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  background: #e55473;
  font-family: Lato;
  border: 0;
}

main {
  width: 1920px;
}
main section {
  margin-top: 128px;
}
.featured-flowers {
  margin-top: 178px;

  background: #fff;
}
.featured-flowers {
  text-align: center;
}
.section-title {
  margin-left: 500px;
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
}
.section-description {
  margin-left: 500px;
  margin-top: 24px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.flower-continer {
  display: flex;
  gap: 24px;
  margin-left: 480px;
}
.flo1 {
  margin-top: 48px;
  align-items: center;
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}
.flo2 {
  margin-top: 48px;
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
}
.flo3 {
  margin-top: 48px;
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}
.flower1 {
  width: 310px;
  height: 428px;
  padding: 110px 76px 0px 78px;
}
.flower2 {
  width: 370px;
  height: 370px;
  padding: 117px 47px 51px 47px;
}
.flower3 {
  width: 314px;
  height: 471px;
  padding: 67px 75px 0px 75px;
}
.name {
  margin-top: 32px;
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  text-decoration-line: underline;
}
.service {
  margin-left: 480px;
  display: flex;
  margin-top: 200px;
  margin-bottom: 128px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
}
.service-info {
  text-align: center;
  padding: 88px 88px;
}
.service-title {
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-weight: 600;
}

.offer {
  display: flex;
  align-items: center;
  margin-top: 128px;
  width: 110vw;
  height: auto;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  color: #fff;
}
.rose-picture {
  width: 318px;
  margin-left: 250px;
}
.offer-haeding {
  margin-left: 500px;
  color: #272727;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
}
span {
  color: #e55473;
}
.offer-description {
  margin-left: 500px;
  width: 594px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
}
.sing-up {
  margin-left: 700px;
  margin-top: 32px;
  padding: 20px 43px 20px 43px;
  gap: 10px;
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  border: 0;
}
.insta {
  margin-left: 480px;
  text-align: center;
}
.insta-title {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
}
.insta-description {
  width: 50%;
  margin: auto;
  margin-top: 24px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
}
.insta-pics {
  margin-top: 48px;
  display: flex;
  width: 342px;
  height: 396px;
  gap: 24px;
}
.deal {
  margin-left: 533px;
  width: 1440px;
  height: 449px;
  background-image: url('../img/rectangle\ 9.png');
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.deal-title {
  margin-bottom: 16px;
  margin-left: 200px;
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
}
.deal-discription {
  margin-left: 200px;
  margin-bottom: 48px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
}

.email-input {
  margin-left: 287px;
  width: 700px;
  height: 64px;
  border-radius: 8px;
  background: #fff;
  border: 0;
}
.Subscribe-btn {
  margin-left: 16px;
  padding: 18px 31px 28px 31px;
  gap: 10px;
  background: #e55473;
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  border: 0;
  border-radius: 8px;
}

.email-input::placeholder {
  padding: 22px;
  color: rgba(39, 39, 39, 0.6);
  text-align: left;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
}
footer {
  margin-top: 128px;
  padding: 100px 100px;
  background: #111010;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.flowershop {
  font-family: Lato;
  font-weight: 800;
  font-size: 48px;
  font-weight: 800;
  color: #fff;
}
.flowershopdescription {
  margin-bottom: 24px;
  color: rgba(255, 255, 255, 0.9);
  width: 625px;
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
}
.copy-right {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
}
.beautiful-picture {
  display: flex;
  justify-content: center;
  align-items: center;
}
.beautiful-pictures {
  width: 342px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 10px solid #ffffff;
  clip-path: circle();
  width: 342px;
  height: 396px;
}
.beautiful-picture-title {
  margin-right: 50px;
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
}
